<div class="container mt-5">
  <h3 class="request-list-title"><b>Mes Demandes de Télétravail</b></h3>
  <div *ngIf="requests.length === 0">
    <p>Aucune demande trouvée.</p>
  </div>
  <div *ngIf="requests.length > 0" class="card">
    <div *ngFor="let request of requests" class="request-item">
      <details>
        <summary><b>Date</b>: {{ request.date }}</summary>
        <p><b>Raison</b>: {{ request.reason }}</p>
        <p><b>Statut</b>: {{ request.status }}</p><br>
      </details>
      <div class="actions">
        <button class="btn-edit" (click)="editRequest(request.id)">Modifier</button>
      </div>
    </div>
  </div>

  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Précédent</button>
    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
  </div>
</div>