<div class="container mt-5">
  <h2 class="request-title"><b>Modifier Département</b></h2>

  <form (ngSubmit)="onSubmit()" #departmentForm="ngForm">
    <div class="form-group">
      <label for="name">Nom</label>
      <input
        id="name"
        type="text"
        name="name"
        [(ngModel)]="department.name"
        required
        maxlength="255"
        class="form-control"
      />
      <small *ngIf="department.name?.length === 0 && submitted" class="text-danger">
        Le nom est requis et ne doit pas dépasser 255 caractères.
      </small>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" [(ngModel)]="department.description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Mettre à Jour</button>
    </div>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
</div>