<!-- admin.component.html -->
<div class="dashboard-container">
  <div class="sidebar">
    <h2>Admin</h2>
    <ul>
      <!-- Removed "Gestion Utilisateurs" header, kept "Ajouter Utilisateur" -->
      <li>
        <a routerLink="user-list">
          <i class="fas fa-users"></i>  Utilisateurs
        </a>
      </li>

      
      <li>
        <a routerLink="show-department">
          <i class="fas fa-list"></i>  Départements
        </a>
      </li>

      <li>
        <a routerLink="show-requests">
          <i class="fas fa-list"></i> Gestion des Demandes
        </a>
      </li>

      <li>
        <a routerLink="global-settings">
          <i class="fas fa-calendar-alt"></i> Paramètres Globaux
        </a>
      </li>
      <li>
        <a routerLink="teletravail-calendar">
          <i class="fas fa-calendar-alt"></i> Calendrier Des Demandes
        </a>
      </li>
      
      
      <li>
        <button class="logout-button" (click)="confirmLogout()">
          <i class="fas fa-sign-out-alt"></i> Déconnexion
        </button>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <h4 class="welcome-message">Bienvenue {{ user?.name }}</h4>
        <div class="navbar-right-items">
          <div class="notification-icon" (click)="toggleNotifications($event)">
            <i class="fas fa-bell"></i>
            <div class="notification-dropdown" *ngIf="showNotifications">
              <div *ngFor="let notification of notifications" class="notification-item">
                {{ notification.message }}
              </div>
              <div class="notification-item" *ngIf="!notifications.length">
                No notifications
              </div>
            </div>
          </div>
          
          <div class="settings-icon" (click)="toggleSettingsMenu($event)">
            <i class="fas fa-cog"></i>
            <div class="settings-dropdown" *ngIf="showSettingsMenu">
              <div class="settings-item" routerLink="profile" (click)="toggleSettingsMenu($event)">
                <i class="fas fa-user-edit"></i> Profil
              </div>
              <div class="settings-item" routerLink="/dashboard/settings" (click)="toggleSettingsMenu($event)">
                <i class="fas fa-cogs"></i> Préférences
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>