<div class="dashboard-container">
  <div class="sidebar">
    <h2>Manager</h2>
    <ul>
      <!-- Demandes Menu avec Sous-menus -->
      <li class="menu-item">
       
        <li><a routerLink="voirdemande"><i class="fas fa-list"></i> Liste Des Demandes</a></li>

      <!-- Ancien "Voir Demande" reste indépendant -->
      <li>
        <a routerLink="show-requests">
          <i class="fas fa-eye"></i> Gestion des Demandes
        </a>
      </li>
      <li>
        <a routerLink="calendar">
          <i class="fas fa-calendar-alt"></i> Calendrier De Télétravail
        </a>
      </li>
      <li>
        <a routerLink="teletravail-calendar">
          <i class="fas fa-calendar-alt"></i> Calendrier Des Demandes
        </a>
      </li>
      
      <li>
        <button class="logout-button" (click)="confirmLogout()">
          <i class="fas fa-sign-out-alt"></i> Déconnecter
        </button>
      </li>
    </ul>
  </div>
  
  <div class="main-content">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <h4 class="welcome-message">Bienvenue {{ user?.name }}</h4>
        <div class="navbar-right-items">
          <!-- Notification icon -->
          <div class="notification-icon" (click)="toggleNotifications($event)">
            <i class="fas fa-bell"></i>
            <div class="notification-dropdown" *ngIf="showNotifications">
              <div *ngFor="let notification of notifications" class="notification-item">
                {{ notification.message }}
              </div>
              <div class="notification-item" *ngIf="!notifications.length">No notifications</div>
            </div>
          </div>
          
          <!-- Settings icon avec Profil -->
          <div class="settings-icon" (click)="toggleSettingsMenu($event)">
            <i class="fas fa-cog"></i>
            <div class="settings-dropdown" *ngIf="showSettingsMenu">
              <div class="settings-item" routerLink="profile" (click)="toggleSettingsMenu($event)">
                <i class="fas fa-user-edit"></i> Profil
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <router-outlet></router-outlet>
  </div>
</div>