<div class="container mt-5">
    <h2 class="request-title"><b>Modifier Demande de Télétravail</b></h2>
    
    <form (ngSubmit)="onSubmit()" #requestForm="ngForm">
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" id="date" name="date" [(ngModel)]="request.date" required class="form-control"/>
      </div>
  
      <div class="form-group">
        <label for="reason">Raison</label>
        <textarea id="reason" name="reason" [(ngModel)]="request.reason" required class="form-control"></textarea>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Mettre à Jour</button>
      </div>
    </form>
  
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </div>