<!-- src/app/user-list/user-list.component.html -->

<div class="container">
  <div class="card">
    <div *ngFor="let user of users" class="user-item">
      <details><summary><b>- Nom</b> : {{ user.name }}</summary>   <p>- <b>Email</b> : {{ user.email }}</p> <p>- <b>Role</b> : {{ user.roles[0]?.name }}</p> </details>
      <div class="actions">
        <!-- Correction ici : supprimez ":id" et passez directement l'ID -->
        <button class="btn-edit" [routerLink]="['/modifier-user', user.id]">Modifier</button>
        <!-- Correction ici : supprimez ":id" et passez directement l'ID -->
        <button class="btn-delete" [routerLink]="['/supprimer-user', user.id]">Supprimer</button>
      </div>
    </div>
  </div>
</div>